<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
    <title>Dashboard</title>
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="container mt-5">
        <h2>Welcome to My Games Dashboard</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tenetur nesciunt nostrum! Numquam non quisquam eos eveniet illo eius soluta, odio iste corporis ad, veritatis praesentium vero excepturi quo quos.</p>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>